*, *:after, *:before{
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body{
	margin: 0 auto;
	height: calc(100% + 1px);
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
}

section{
	width: 100%;
	position: absolute;
	border-radius: 5px;
	transition: top 1s;
	
}

	section > h1, section.introducao h1{
		color: #fff;
		font-family: 'Open Sans', sans-serif;
/*		font-size: 24px;*/
		font-size: 35px;
		text-align: right;
		margin-right: 20px;
	}

	section.introducao{
		height: 100%;
		background: #9C27B0;
		background-image: url(../Imagens/photo-1421757295538-9c80958e75b0.jpg);
		background-size: cover;
		background-position: center;
	}

		section.introducao div.title-container{
			position: absolute;
			top: 50%;
			left: 20px;
			transform: translateY(-50%);
		}

			section.introducao div.title-container h1, h2{
				color: #444;
				background-color: #fff;
				padding: 10px;
				display: inline-block;
				margin: 0px;
				
			}

			section.introducao div.title-container h1{
				font-family: 'Open Sans', sans-serif;
				margin-bottom: 5px;
			}

			section.introducao div.title-container h2{
				font-family: 'Open Sans', sans-serif;
				font-weight: 300;
			}



	section.linha-do-tempo{
		background: #2196F3;
		height: calc(100% - 10px);
		top: 100%;
	}

		section.linha-do-tempo.up{
			top:10px;
		}

		section.linha-do-tempo ul{
			border-top: 4px solid;
			border-color: #fff;
			width: 516px;
			left: 50%;
			top: 50%;
			position: absolute;
			transform: translateX(-50%) translateY(-50%);
			
			padding: 0px;
			margin: 0px;
		}

			section.linha-do-tempo ul li{
				display: inline-block;
				width: 99px;
				position: relative;
			}

				section.linha-do-tempo ul li:after{
					content: "";
					width: 10px;
					border-radius: 50%;
					background-color: #fff;
					display: block;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					height: 10px;
					top: -24px;
				}

				section.linha-do-tempo ul li:before{
					content: attr(data-ano);
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					top: -59px;
					
					border-bottom: 2px solid;
					
					color: #fff;
					font-family: 'Open Sans', sans-serif;
					font-weight: 600;
					
					cursor: pointer;
				}

					section.linha-do-tempo ul li div.evento{
						position: absolute;
						width: 250px;
						left: 50%;
						transform: translateX(-50%);
						background: #fff;
						
						box-sizing: border-box;
						padding: 10px;
						border-radius: 5px;
						
						display: block;
						top: 30px;
						opacity: 0;
						transition: opacity 1s, top 5s;
					}

						section.linha-do-tempo ul li.ativo div.evento{
							top: 10px;
							display: block;
							opacity: 1;
							transition: opacity 1s, top 1s;
						}

						section.linha-do-tempo ul li div.evento:before{
							content: "";
							width: 0px;
							height: 0px;
							
							border-top: 10px solid transparent; 
							border-bottom: 10px solid #fff;
							border-right: 10px solid transparent;
							border-left: 10px solid transparent;
							
							position: absolute;
							left: 50%;
							top: -20px;
							transform: translateX(-50%);
						}

							section.linha-do-tempo ul li div.evento h2{
								font-size: 14px;
								width: 100%;
								text-align: center;
								box-sizing: border-box;
							}

							section.linha-do-tempo ul li div.evento p{
								font-size: 12px;
								margin: 0px;
							}

	section.portfolio{
		background: #4CAF50;
		height: calc(100% - 20px);
		top: 100%;
	}

		section.portfolio.up{
			top:20px;
		}

		section.portfolio ul.lista-portfolio{
			margin: 0px;
			padding-left: 40px;
			
			top: 50%;
/* 			transform: translateY(-50%);*/
/*			position: absolute;*/
			
			display: inline-block;
			float: left;
		}

			section.portfolio ul.lista-portfolio li{
				list-style: none;
				padding: 0px;
				
				width: 300px;
				height: 170px;

				background-size: contain;
				border-radius: 10px;
			
			}

				section.portfolio ul.lista-portfolio li.current{
					
				}

				section.portfolio ul.lista-portfolio li.start-it{
					background-image: url(../Imagens/thumbnail_sem_titulo.svg);
				}

			section.portfolio div.detalhes{
				display: inline-block;
				float: left;
				width: 380px;
				margin-left: 20px;
				color: #fff;
			}

				section.portfolio div.detalhes h1{
					
				}

				section.portfolio div.detalhes p{
					
				}

				section.portfolio div.detalhes div.tags{
					
				}

					section.portfolio div.detalhes div.tags span{
						padding: 5px;
						display: inline-block;
						border-radius: 5px;
						background-color: rgba(255, 255, 255, 0.3);
						margin-right: 5px;
						margin-bottom: 5px;
					}

				section.portfolio div.detalhes div.photos{
					
				}

					section.portfolio div.detalhes div.photos img{
						height: 100px;
					}

	section.contato{
		background: #FF9800;
		height: calc(100% - 30px);
		top: 100%;
	}

		section.contato.up{
			top:30px;
		}

		section.contato div.container{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}

		section.contato ul.redes{
			display: flex;
			flex-direction: row;
			width: 350px;
			justify-content: space-between;
			
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			
			padding: 0px;
		}

			section.contato ul.redes li{
				display: inline-block;
				
				width: 15px;
				height: 15px;
				color: #fff;
			}

				section.contato ul.redes li a, section.contato ul.redes li a:active, section.contato ul.redes li a:visited{
					color: #fff;
					text-decoration: none;
				}

		section.contato form{
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			display: block;
			width: 500px;
			text-align: center;
			
			margin-top: 50px;
		}

			section.contato form input, section.contato form textarea{
				display: block;				
				width: 100%;
				padding: 5px;
				box-sizing: border-box;
				outline: none;
				resize: none;
				
				border: 0px;
				border-radius: 3px;
				margin-top: 5px;
			}

			section.contato form input{
				height: 30px;
			}

			section.contato form textarea{
				height: 150px;
			}

			section.contato form button{
				border: 0px;
				border-radius: 3px;
				margin-top: 5px;
				background-color: rgba(255, 255, 255, 0.3);
				
				height: 45px;
				color: #fff;
				padding: 0px 10px;
				
				height: 45px;
				font-size: 16px;
				float: left;
				margin-top: 10px;
				color: #fff;
				padding: 0px 20px;
			}
