body{
  font-family: Exo, sans-serif;
  margin: 0 auto;
  color: #808080;
}

div.container{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1000px;
  width: calc(100% - 40px);
  min-height: 100%;
}

div.menu{
  margin-top: 30px;
  position: absolute;
  width: 100%;
  z-index: 2;
  color: #fff;
}

  div.menu img.logo{
    height: 80px;
  }

  div.menu ul{
    float: right;
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
    
    display: flex;
    width: 500px;
    justify-content: space-between;
  }

    div.menu ul li{
      list-style: none;
      display: inline-block;
      position: relative;
      cursor: pointer;
    }

    div.menu ul li:after{
      content: '';
      display: block;
      position: absolute;
      bottom: -10px;
      width: 0px;
      height: 0px;
      
      transition: all 0.5s;

      border-bottom: 1px solid #fff;
    }

      div.menu ul:not(:hover) li.current:after{
        width: 100px;
        transition: all 0.5s;
      }

      div.menu ul:hover li:hover:after{
        width: 100px;
        transition: all 0.5s;
      }

div.layout{
  display: flex;
  justify-content: space-between;
}

  div.layout>div{
    width: 33%;
  }

  div.layout.two>div{
    width: calc(50% - 10px);
  }

  div.layout.two-right>div:first-child{
    width: calc(100% - 620px);
  }

  div.layout.two-right>div:last-child{
    width: 600px;
  }

  div.layout.three>div{
    width: 33%;
  }

div.item{
  position: relative;
}

  div.item:not(:last-child){
    margin-bottom: 12px;
  }

  div.item div.icon{
    width: 30px;
    margin-right: 20px;
    margin-top: 3px;
    float: left;
    text-align: center;

    display: inline-block;
  }

    div.item div.icon img{
      width: 30px;
      max-height: 30px;
    }

  div.item div.text{
    width: calc(100% - 50px);

    display: inline-block;
  }

div.text-center{
  text-align: center;
}

.bold{
  font-weight: bold;
}

button.arrow{
  background-color: transparent;
  background-image: url(../IMAGES/icons/red_arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  width: 210px;
  height: 40px;
  text-align: left;
  color: #fff;
  padding-left: 20px;
  padding-right: 30px;
  font-size: 11pt;
  margin-top: 20px;
  
  font-family: Exo, sans-serif;
  outline: none;
  text-transform: uppercase;
  
  display: block;
}

  button.arrow img{
    height: 20px;
    float: right;
  }

main.wrapper{
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

section.header, section.section-quote, section.kids{
  position: relative;
  overflow: hidden;
}

section div.background{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  transform: translateZ(-1px) scale(1.5);
  z-index: -1;
}

  section.header div.background{
    background-image: url(../IMAGES/header1.jpg);
  }

  section.section-quote div.background{
    background-image: url(../IMAGES/quote.jpg);
  }

  section.kids div.background{
    background-image: url(../IMAGES/kids.jpg);
  }

section{
  
}

  section h1.title{
    margin: 20px 0px;
    margin-top: 60px;
    color: #D50013;
    position: relative;
    font-weight: lighter;
  }

    section h1.title:after{
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      width: 100px;
      height: 0px;
      
      transition: all 0.5s;

      border-bottom: 1px solid;
    }

  section.header{
    height: 600px;
    position: relative;
    
/*
    background-image: url(../IMAGES/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
*/
    
  }

    section.header div.gradient{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      
      opacity: 0.8;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#59595c+0,747576+50,59595c+100 */
      background: #59595c; /* Old browsers */
      background: -moz-linear-gradient(to right, #000000 0%,rgba(0, 0, 0, 0.2) 50%,#000000 100%);
      background: -webkit-linear-gradient(to right, #000000 0%,rgba(0, 0, 0, 0.2) 50%,#000000 100%);
      background: linear-gradient(to right, #000000 0%,rgba(0, 0, 0, 0.2) 50%,#000000 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59595c', endColorstr='#59595c',GradientType=1 ); /* IE6-9 */
    }

    section.header div.call{
      position: absolute;
      top: 350px;
      left: 50%;
      transform: translateX(-50%);
      
      text-align: center;
      
      color: #fff;
    }

      section.header div.call h1, section.header div.call h2{
        margin: 0px;
      }

      section.header div.call h1{
        font-size: 25pt;
      }

      section.header div.call h2{
        font-size: 16pt;
        font-weight: lighter;
      }

  section.why-bilingue{

  }

    section.why-bilingue div.video{
      background-color: rgba(0,0,0,0.3);
      width: 600px;
      height: 300px;
      
      margin-top: 40px;
    }

    section.why-bilingue div.perks{
      margin: 80px 0px;
    }

    section.why-bilingue div.perks>div{
      text-align: center;
      padding: 0px 30px;
      box-sizing: border-box;
    }

      section.why-bilingue div.perks>div:not(:last-child){
        border-right: 1px solid #d5d5d5;
      }

      section.why-bilingue div.perks>div img{
        height: 100px;
        margin-bottom: 20px;
      }

      section.why-bilingue div.perks>div span.description{
        text-align: center;
        display: block;
      }

  section.next-stage{
    background-color: #D50013;
    padding: 80px 0px;
  }


    section.next-stage h1{
      margin-top: 0px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 18pt;
    }

    section.next-stage h2{
      font-weight: normal;
      font-size: 14pt;
    }

      section.next-stage h2:after{
        content: '';
        display: block;
        position: absolute;
        bottom: 5px;
        width: 50px;
        height: 0px;

        transition: all 0.5s;

        border-bottom: 1px solid #fff;
      }

    section.next-stage div.layout.three.red>div{
      width: 70%;
      box-sizing: border-box;
      padding: 0px 20px;
      color: #fff;
    }

    section.next-stage div.layout.three.red>div:first-child{
      width: 30%;
    }
    
    section.next-stage div.layout.three.red>div:last-child{
      column-count: 2;
    }

  section.section-quote{
    height: 600px;
/*
    background-image: url(../IMAGES/quote.jpg);
    background-size: cover;
    background-position: center;
*/
  }

    section.section-quote div.quote{
      display: block;
      position: absolute;
      width: 237px;
      height: 273px;
      padding: 25px 20px 30px 20px;
      text-align: center;
      color: #fff;
      box-sizing: border-box;
      top: 50%;
      right: 160px;
      transform: translateY(-50%);
    }

      section.section-quote div.quote:after{
        content: "";
        background-image: url(../IMAGES/icons/arrow-down.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.7;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
      }

      section.section-quote div.quote div.image{
        margin-bottom: 10px;
      }

      section.section-quote div.quote div.text{
        
      }

      section.section-quote div.quote div.author{
        margin-top: 10px;
        font-size: 11pt;
        font-style: italic;
      }

  section.why-impulse-system{
    padding: 80px 0px;
  }

    section.why-impulse-system h1{
      margin-top: 0px;
    }

section.not-all-schools{
  background-color: #9A9A9F;
  color: #fff;
  padding: 80px 0px;
}

  section.not-all-schools img.exclamation{
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }

  section.not-all-schools h2{
    margin-bottom: 0px;
    font-size: 18pt;
  }

  section.not-all-schools div.layout div:first-child{
    border-right: 1px solid #fff;
    width: 40%;
    padding-right: 30px;
    
  }

  section.not-all-schools div.layout div{
    width: calc(30% - 38px);
    text-align: justify;
  }

  section.kids{
    height: 600px;
/*
    background-image: url(../IMAGES/kids.jpg);
    background-size: cover;
    background-position: center;
*/
  }

section.why-now{
  padding: 80px 0px;
}

  section.why-now img.clock{
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: 300px;
    max-width: calc(100% - 80px);
  }

  section.why-now div.why{
    padding-right: 80px;
  }

    section.why-now div.why h1{
      margin-top: 20px;
    }

form.schedule{
  padding: 0px 30px;
  text-align: center;
  
}

  form.schedule h1.title{
    margin-bottom: 40px;
    
  }

    form.schedule h1.title:after{
      top: auto;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
    }

  form.schedule>h2{
    font-size: 14pt;
    font-weight: normal;
    margin: 40px;
  }

  form.schedule input{
    border: 1px solid red;
    padding: 10px 20px;
    border-radius: 20px;
    display: block;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    font-family: Exo, sans-serif;
    outline: none;
  }

    form button.arrow{
      left: 50%;
      position: relative;
      transform: translateX(-50%);
    }

    form.schedule input::splaceholder{
      color: lightgrey;
      font-style: italic;
    }

  form.schedule div.fields{
    position: relative;
  }

  form.schedule div.fields input, form.schedule div.fields button{
    filter: blur(0px);
  }

    form.schedule div.fields.blur input, form.schedule div.fields.blur button{
      filter: blur(3px);
      transition: filter 1s;
    }

  form.schedule div.feedback{
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%;
    max-width: 300px;
    
    transform: translate(-50%, -50%);
    
    text-align: center;
    
    opacity: 0;
    visibility: hidden;
    text-shadow: 0px 0px 7px rgba(255,255,255,1);
  }

    form.schedule div.feedback.show{
      opacity: 1;
      visibility: visible;
      top: 50%;
      
      transition: opacity 1s, top 1s;
    }

    form.schedule div.feedback h1{
      
    }

    form.schedule div.feedback h2{
      margin-top: 0px!important;
      font-size: 14pt;
      font-weight: lighter;
    }

footer{
  text-align: center;
  padding: 40px;
  background-color: #D50013;
  position: relative;
  margin-top: 80px;
  color: #fff;
}

  footer:before{
    content: url(../IMAGES/icons/logo-solo-border.svg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% - 30px);   
  }

  footer>div.layout.three{
    align-items: center;
  }

  footer div.social{
    display: flex;
    justify-content: space-around;
    width: 110px;
    margin-bottom: 5px;
    
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
  }

    footer div.social img{
      width: 25px;
    }

footer .copyright{
  font-size: 11pt;
}

footer .footer-message{
  height: 14px;
  margin-bottom: -2px;
  margin-right: 3px;
}

footer div.developed-by{
  margin-top: 40px;
  color: rgba(255, 255, 255, 0.6);
}

  footer img.tratt-logo{
    height: 12px;
  }
@media screen and (min-width: 700px) {
  .hide-desktop{
    display: none;
  }
  
  div.items-player button.next-item, div.items-player button.prev-item, div.dots{
    display: none;  
  }
}

@media screen and (max-width: 700px) {
  
  div.hide-mobile{
    display: none;
  }
  
  div.container{
    width: calc(100% - 40px);
  }
  
  div.menu-mobile{
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
  }
  
    div.menu-mobile img{
      width: 250px;
    }
  
  div.item{
  position: relative;
}

  div.item:not(:last-child){
    margin-bottom: 12px;
  }

  div.item div.icon{
    
    margin-bottom: 20px;
    
    width: 100%;
    margin-right: 20px;
    margin-top: 3px;
    text-align: center;

    display: block;
  }

    div.item div.icon img{
      height: 100px;
      width: auto;
      max-height: none;
    }

    div.item div.text{
      width: 100%;

      display: block;
      text-align: center;
    }

  section h1.title{
    text-align: center;
  }

    section h1.title:after{
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      width: 100px;
      height: 0px;
      
      left: 50%;
      transform: translateX(-50%);
      
      transition: all 0.5s;

      border-bottom: 1px solid;
    }
  
  section.header div.gradient{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0+80,0.8+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
  }
  
    section.header div.call{
      width: 100%;
      
      top: auto;
      bottom: 80px;
    }
  
      section.header div.call h1{
        
      }
  
      section.header div.call h2{
        
      }
  
      section.header div.background{
        transform: translateZ(-1px) scale(2);
        background-image: url(../IMAGES/header-mobile.jpg)!important;
      }
  
      section.header button.go-down{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        background-color: rgba(255, 255, 255, 0.3);
        
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
      }
  
  section.why-bilingue{
    
  }
  
    section.why-bilingue div.container.layout.two-right{
      width: 100%;
      display: block;
    }
  
    section.why-bilingue div.text-left{
      width: calc(100% - 40px)!important;
      padding: 0px 20px;
    }
  
      section.why-bilingue .arrow{
        left: 50%;
        position: relative;
        transform: translateX(-50%);
      }
  
    section.why-bilingue div.video{
      width: 100%;
      height: 200px;
    }
  
  section.why-bilingue div.layout.perks{
    
    
  }
  
  section.why-bilingue div.layout.perks div{
    width: 100%;
    border: none;
  }
  
  div.items-player{
    display: block;
    height: 240px;
    position: relative;
    white-space: nowrap;
    width: 100%!important;
  }
  
    div.items-player>div.item{
      width: 100%!important;
      display: inline-block;
      white-space: normal;
      transition: left 1s;
      
      position: absolute;
      padding: 0px 40px!important;
      box-sizing: border-box;
      
    }
  
      div.items-player div.current{
/*        transform: translateX(0%);*/
        left: 0%;
      }
  
      div.items-player div.next{
/*        transform: translateX(0%);*/
        left: 100%;
      }
  
      div.items-player div.prev{
/*        transform: translateX(-100%);*/
        left: -100%;
      }
  
      div.items-player button.next-item, div.items-player button.prev-item{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
        height: 40px;
        border: none;
        background-color: transparent;
        outline: none;
        
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        
      }
  
        div.items-player button.next-item{
          right: 10px;
          background-image: url(../IMAGES/icons/arrow-right-gray.svg);
        }
  
          div.items-player.red button.next-item{
            background-image: url(../IMAGES/icons/arrow-right-red.svg);
          }
  
        div.items-player button.prev-item{
          left: 10px;
          background-image: url(../IMAGES/icons/arrow-left-gray.svg);
        }
  
          div.items-player.red button.prev-item{
            background-image: url(../IMAGES/icons/arrow-left-red.svg);
          }

        div.items-player div.dots{
          position: absolute;
          bottom: -40px;
          left: 50%;
          transform: translateX(-50%);
          display:inline-block;
          width: auto!important;
        }
    
          div.items-player div.dots div.dot{
            display: inline-block;
            width: 10px!important;
            height: 10px;
            border-radius: 50%;
            background-color: #000;
            opacity: 0.2;
          }
  
            div.items-player.red div.dots div.dot{
              background-color: rgb(255,255,255);
              opacity: 0.5;
            }
  
            div.items-player div.dots div.dot:not(:last-child){
              margin-right: 5px;
            }
  
          div.items-player div.dots div.dot.current{
            background-color: #000;
            opacity: 0.5;
          }
  
            div.items-player.red div.dots div.dot.current{
              background-color: rgb(255,255,255);
              opacity: 1;
            }
  
  section.section-quote{
    height: 500px;
  }
  
    section.section-quote div.quote{
      width: 216px;
      height: 247px;
      padding: 20px 15px 25px 15px;
      right: auto;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
  section.next-stage h2:after{
    display: none;  
  }
  
  section.next-stage div.layout.three.red{
    display: block;
  }
  
    section.next-stage div.layout.three.red>div:first-child{
      padding: 0px 40px;
    }
  
  section.next-stage div.container{
    width: 100%;
  }
  
  section.next-stage div.layout.three.red>div:first-child{
    width: 100%;
  }
  
  section.next-stage div.layout.three.red>div:last-child{
    column-count: 1;
  }
  
  section.not-all-schools{
    padding: 40px 0px;
    padding-bottom: 65px;
  }
  
  div.shortable{
    max-height: 200px;
    transition: all 1s;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }
  
  div.shortable:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: calc(100% - 200px);
    left: 0;
    z-index: 2;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+80 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }
  
  div.shortable.gray:after{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+80 */
    background: -moz-linear-gradient(top, rgba(153, 151, 158, 0) 0%, rgba(153, 151, 158, 1) 80%, rgba(153, 151, 158, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(153, 151, 158, 0) 0%,rgba(153, 151, 158, 1) 80%,rgba(153, 151, 158, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(153, 151, 158, 0) 0%,rgba(153, 151, 158, 1) 80%,rgba(153, 151, 158, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099979E', endColorstr='#ff99979E',GradientType=0 ); /* IE6-9 */
  }
  
  div.shortable.long:after{
    height: 0px;
    bottom: 0px;
    transition: height 1s;
  }
  
  div.shortable.long{
    max-height: 600px;
    transition: all 1s;
/*
    box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,1);
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,1);
*/
  }
  
    section.not-all-schools .layout{
      display: block;
    }
  
      section.not-all-schools .layout div{
        margin-bottom: 20px;
        width: 100%!important;
        text-align: left!important;
      }
  
      section.not-all-schools .layout div h2{
        text-align: center;
      }
  
      section.not-all-schools .layout div img{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
  
  section.why-impulse-system{
    
  }
  
    section.why-impulse-system div.container{
      width: 100%;
    }
  
      section.why-impulse-system div.container div.layout>div:first-child{
        padding: 0px 20px;
        box-sizing: border-box;
      }
  
    section.why-impulse-system .layout.two{
      display: block;
    }
  
      section.why-impulse-system div.layout.two div{
        width: 100%;
      }
  
  section.kids{
    height: 500px;
  }
  
  section.why-now{
    
  }
  
  section.why-now div.layout{
    display: block;
  }
  
    section.why-now div.layout div{
      width: 100%!important;
      
    }
  
    section.why-now img.clock{
      margin-bottom: 30px;
    }
  
  form{
    padding: 0px!important;
  }
  
    form h2{
      margin: 40px 0px!important;
    }
  
    form div.layout{
      flex-wrap: wrap;
    }

      form div.layout>div{
        width: 100%!important;
      }
  
  form button.arrow{
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }
  
  footer{
    padding: 0px;
    padding-top: 40px;
  } 
  
    footer div.layout{
      
      flex-wrap: wrap;
    }
  
      footer div.container{
        width: 100%!important;
      }
  
      footer div.layout>div{
        width: 100%!important;
        
      }
  
        footer div.layout>div:not(:last-child){
          margin-bottom: 20px;
        }
  
      footer div.layout>div:nth-child(1){
        order: 1;
        margin-bottom: 30px;
      }
  
      footer div.layout>div:nth-child(2){
        order: 0;
        
      }
  
      footer div.layout>div:last-child{
        background-color: #B5000B;
        order: 2;
        padding: 20px;
        padding-top: 30px;
      }
  
      footer div.developed-by{
        background-color: #B5000B;
        padding-bottom: 40px;
        margin-top: 0px;
        padding-top: 20px;
      }
  
  button.see-more{
    padding: 0px 20px;
    border-radius: 50px;
    height: 45px;
    border: 2px solid;
    background: transparent;
    color: #b3b3b3;
    
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    position: relative;
    padding-right: 45px;
    
    font-family: 'Exo', sans-serif;
    font-size: 12pt;
    outline: none;
    opacity: 1;
  }
  
  button.see-more.disappear{
    opacity: 0;
    transition: all 1s;
    margin-top: -30px;
    margin-bottom: 0px;
  }
  
    button.see-more:not(:last-child){
      margin-bottom: 20px;
    }
  
    button.see-more.gray{
      color: #fff;
    }
  
    button.see-more:after{
      content: "";
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background-image: url(../IMAGES/icons/arrow-down-red.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  
}